

.wrapper{
    display: flex;
}

.sidebar{
    display: flex; 
    flex-direction: column; 
    padding: 30px;  
    width: 250px ; 
    height: calc(100vh - 56px ); 
    background-color: rgb(244, 248, 248); 
    border-right: 1px solid whitesmoke;
    
}
.navbar{
    position: fixed; 
    top: 0 ; 
    left: 0; 
}
.sidebar a{ 
    padding: 10px 25px;
    text-decoration: none;
    color: black; 
    margin-bottom: 12px; 
    font-size: 18px;
}


.active{
    background-color: #0EA5E9; 
    border-radius: 12px; 
    color: white !important;
}


.sidebar a:hover{
    background-color: #0EA5E9; 
    border-radius: 12px;
    color: white !important;
}

.contents{ 
    flex: 1;
    overflow-y: auto; 
    height: calc(100vh - 56px);
    padding: 20px;
}