*{
    padding: 0px; 
    margin: 0px; 
    box-sizing: border-box; 
    font-family: monospace; 
    text-align: center;
    background: black;
    color: limegreen;
}

.heading{
    margin: 50px 0px;
}

.joke{
    border: 2px solid limegreen; 
    width: 60%;
    margin: auto;
    min-height: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    margin-top: 50px; 
    border: 2px solid limegreen;
    padding: 10px 15px; 
    border-radius: 4px;
}

.joke-para{
    padding: 20px;
}